.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 20px 0;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  vertical-align: top; /* Ensure description field aligns top */
}

.table th {
  background-color: #ff7f50;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.table tr:nth-child(even) {
  background-color: #ffe4b5;
}

.table tr:nth-child(odd) {
  background-color: #ffdab9;
}

.table tr:hover {
  background-color: #ff6347;
  color: white;
}

.action-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
}

.action-btn img {
  width: 20px;
  height: 20px;
}

h2 {
  font-size: 2.5em;
  color: #fff;
  background-color: #ff7f50;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.form-group input[type='date'],
.form-group input[type='time'] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* edit modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

button[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

.form-group textarea {
  resize: vertical;
  height: 100px; /* Ensure description field has more height */
}
